@import '@unocss/reset/tailwind.css';

	#__nuxt {
<<<<<<< HEAD
		--at-apply: "flex min-h-screen flex-col justify-start";
=======
		@apply flex min-h-screen flex-col justify-start contain-paint;
>>>>>>> deef4cf (fix)
	}
	body {
		--at-apply: "flex flex-col font-Inter whitespace-pre-line bg-white [--width-content:1320px] [--width-content-margin:15px] sm:[--width-content-margin:20px] at-[1200px]:[--width-content-margin:60px]";
	}

<<<<<<< HEAD
=======
	:root {
		/* макимальная ширина контента */
		@apply /*
        Растояние от границы брузера по бокам */ [--widthContent:1320px]
        [--widthContentMargin:15px] sm:[--widthContentMargin:20px] min-[1200px]:[--widthContentMargin:60px];
	}

	/* Настройка кастомных контейнеров */
	/* Применение системы гридов для расположения контента в ячейку main или full или в любую другую ячейку между именованными линиями grid*/

>>>>>>> deef4cf (fix)
	.grid-container {
        --at-apply: "grid";
		grid-template-columns:
			[full-start] minmax(var(--width-content-margin), 1fr)
			[main-start] minmax(0, var(--width-content))
			[main-end] minmax(var(--width-content-margin), 1fr) [full-end];		
	}

	.grid-container > * {
		--at-apply: "col-[main]";
	}

	.wrapper {
		--at-apply: "mx-auto w-[calc(100%-var(--width-content-margin)*2)] max-w-[var(--width-content)]";
	}

	.container {
		--at-apply:"max-w-[var(--width-content)]";
	}

    .shadow-sidebar{
        box-shadow: 0 35px 35px 0 rgba(0,0,0,.02),0 4px 50px 0 rgba(0,0,0,.1);
    }

    .scroll-h-0::-webkit-scrollbar {
        height: 0;
        max-height: 0;
    }

    .contain-paint{
        contain: paint;
    }
